@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-500 font-light;
  font-family: museo-sans-rounded, sans-serif;
}

p {
  @apply leading-normal mb-2;
}

h1 {
  @apply text-4xl font-medium mb-4;
}
h2 {
  @apply text-2xl font-medium mb-4;
}
h3 {
  @apply text-xl font-medium mb-4;
}
h4 {
  @apply text-lg font-light mb-2;
}
h5 {
  @apply font-semibold uppercase tracking-wide mb-2;
}

@layer utilities {
  .text-xx {
    font-size: 10px;
  }
}

@layer components {
  .loader {
    @apply p-4 relative flex justify-center animate-spin;
    animation-duration: 2s;
  }

  .loader .circle {
    @apply h-12 w-12 rounded-full border-4 border-transparent absolute animate-spin;
    border-top-color: theme("colors.brand.600");
    animation-timing-function: ease-in-out;
  }

  .loader.loader-small {
    @apply p-0;
  }

  .loader.loader-small .circle {
    @apply h-6 w-6 border-2;
    animation-duration: 0.8;
  }

  .loader .circle:last-child {
    @apply relative;
  }

  .input {
    @apply py-3 px-4 border rounded-xl outline-none focus:border-brand-600 focus:ring-4 focus:ring-brand-200 focus:text-gray-800 w-full;
  }

  .input-error {
    @apply border-red-400 ring-4 ring-red-100;
  }

  .button {
    @apply py-3 px-4 rounded-xl outline-none flex items-center justify-center space-x-2 border focus:ring-4 bg-gray-100  border-gray-100 hover:bg-gray-200  focus:bg-gray-200  focus:ring-brand-200   shadow transition-colors;
  }

  .button-small {
    @apply text-sm py-2 px-2 rounded-lg;
  }

  .button-ghost {
    @apply shadow-none border-transparent bg-transparent;
  }

  .button-text {
    @apply shadow-none border bg-transparent p-0 hover:bg-transparent focus:bg-transparent hover:text-gray-700;
  }

  /* .button svg {
    @apply ml-2;
  } */

  .button-primary {
    @apply text-white bg-brand-600  border-brand-600 hover:bg-brand-500 hover:text-white focus:bg-brand-500  focus:ring-brand-200  focus:text-white;
    box-shadow: 0 1px 3px 0 theme("colors.brand.300"),
      0 1px 2px 0 theme("colors.brand.300");
  }

  .status-demo {
    @apply flex;
  }

  .status-demo > div:first-child {
    @apply rounded-l-xl;
  }
  .status-demo > div:last-child {
    @apply rounded-r-xl;
  }
}

.idea-bg {
  @apply bg-idea-400 text-idea-100;
  /* text-shadow: 0 1px 10px theme("colors.idea.900"); */
}
.do-bg {
  @apply bg-do-400 text-do-100;
  /* text-shadow: 0 1px 10px theme("colors.do.900"); */
}
.doing-bg {
  @apply bg-doing-600 text-doing-100;
  /* text-shadow: 0 1px 10px theme("colors.doing.900"); */
}
.review-bg {
  @apply bg-review-500 text-review-100;
  /* text-shadow: 0 1px 10px theme("colors.review.900"); */
}
.done-bg {
  @apply bg-done-400 text-done-100;
  /* text-shadow: 0 1px 10px theme("colors.done.900"); */
}
.accomplished-bg {
  @apply bg-accomplished-400 text-accomplished-100;
  /* text-shadow: 0 1px 10px theme("colors.accomplished.900"); */
}

.idea-bg-gradient {
  @apply bg-gradient-to-br from-idea-400 to-idea-600 text-idea-100;
  /* text-shadow: 0 1px 10px theme("colors.idea.900"); */
}
.do-bg-gradient {
  @apply bg-gradient-to-br from-do-400 to-do-600 text-do-100;
  /* text-shadow: 0 1px 10px theme("colors.do.900"); */
}
.doing-bg-gradient {
  @apply bg-gradient-to-br from-doing-400 to-doing-700 text-doing-100;
  /* text-shadow: 0 1px 10px theme("colors.doing.900"); */
}
.review-bg-gradient {
  @apply bg-gradient-to-br from-review-400 to-review-600 text-review-100;
  /* text-shadow: 0 1px 10px theme("colors.review.900"); */
}
.done-bg-gradient {
  @apply bg-gradient-to-br from-done-400 to-done-600 text-done-100;
  /* text-shadow: 0 1px 10px theme("colors.done.900"); */
}
.accomplished-bg-gradient {
  @apply bg-gradient-to-br from-accomplished-400 to-accomplished-600 text-accomplished-50;
  /* text-shadow: 0 1px 10px theme("colors.accomplished.900"); */
}

.shadow-idea {
  box-shadow: 0 4px 10px theme("colors.idea.300");
}
.shadow-do {
  box-shadow: 0 4px 10px theme("colors.do.300");
}
.shadow-doing {
  box-shadow: 0 4px 10px theme("colors.doing.300");
}
.shadow-review {
  box-shadow: 0 4px 10px theme("colors.review.300");
}
.shadow-done {
  box-shadow: 0 4px 10px theme("colors.done.300");
}
.shadow-accomplished {
  box-shadow: 0 4px 10px theme("colors.accomplished.300");
}
